{% load custom_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">CraftNest</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'workshop-list' %}">Workshops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review-list' %}">Reviews</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile-details' request.user.pk %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="btn btn-link nav-link" type="submit">Logout</button>
                        </form>
                    </li>

                    {% if request.user|is_organizer %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop-create' %}">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my-workshops' %}">My Workshops</a>
                    </li>
                    {% endif %}

                    {% if request.user|is_participant %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'my-bookings' %}">My Bookings</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>