{% extends 'base.html' %}

{% block title %}Профил | CraftNest{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title">{{ profile.username }}</h2>
                <p><strong>Имейл:</strong> {{ profile.email }}</p>
                <p><strong>Град:</strong> {{ profile.city|default:"Няма информация" }}</p>
                <p><strong>Биография:</strong> {{ profile.bio|default:"Няма информация" }}</p>

                <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-warning">Редактирай профила</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}