{% extends 'base.html' %}

{% block title %}Начало | CraftNest{% endblock %}

{% block content %}
<section class="text-center py-5">
    <h1 class="display-4">Открий вдъхновяващи творчески работилници</h1>
    <p class="lead">Запиши се за арт, керамика, фотография и още много creative workshops.</p>

    {% if not request.user.is_authenticated %}
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg me-2">Регистрация</a>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg">Вход</a>
    {% endif %}
</section>
{% endblock %}